.header{
    width:100%;
    background-color:#1D1D1F;
    height:80px;
}
.body{
    font-family: Helvetica;
}
.title{
    padding-top:15px;
    font-size: 30px;
    color: white;
    font-weight: bold;
    letter-spacing:0.03cm;
}
.convey-info{
    font-size: 50px;
    color:#435350;
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:150px;
    font-weight: bold;
}
.convey-info-center{
    font-size: 50px;
    color:#435350;
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
    padding-top:50px;
    padding-bottom:50px;
    font-weight: bold;
}
.venv{
    border-bottom: 1px solid #435350;
}