<center>
    <div class="desktop background-body">
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="background-table mobile-table">
        <tbody>
            <tr>
                <td align="center" class="header-content header-content-logo" pardot-region="header_image"><img alt="logo" class="img-logo" src="http://go.pardot.com/l/897911/2021-01-05/2m35/897911/1609826129un4ZKYlS/Logo_DiageoOne__2_.png"></td>
            </tr>
            <tr>
                <td align="center" pardot-region="header_image"><img alt="" border="0" height="280" src="https://go.pardot.com/l/897911/2021-02-02/3w86/897911/1612262445tcOcTnhN/email_header_desktop.gif" style="width: 600px; height: auto; border-width: 0px; border-style: solid;" width="600"></td>
            </tr>
            <tr>
                <td class="halloween" pardot-region="std_content00">
                <p style="text-align: center;" class="p-heading"><span><b>Raise The Bar</b></span><br>
                    <section class="p-description">
                        <p>
                            <b> “Raising The Bar” </b> is Diageo’s global programme to support pubs and bars as you welcome customers back following the COVID-19 pandemic. We want to stand beside you every step of the way.
                         </p>
                         <p>
                            <b> “Raising The Bar” </b> in GB, will work in two ways. Any bar anywhere in the world will have free access to Diageo Bar Academy where you can access best practice training and how to optimise your recovery.
                         </p>
                    </section>
                </p>
                </td>
            </tr>
            <tr>
                <td class="halloween-line" height="24">&nbsp;</td>
            </tr>
            <tr>
                <td class="halloween" pardot-region="std_content00">
                    <p style="text-align: center;" class="sub-heading"><span><b>Diageo will provide the physical equipment <br> you
                                need to re-open including:</b></span><br>
                                <section class="custom-list">
                                    <article>Medical grade hand sanitiser unit and refills</article>
                                    <article>Takeaway Execution Kits</article>
                                </section>
                    </p>
                </td>
            </tr>
            <tr>
                <td height="24"></td>
            </tr>
            <tr>
                <td class="hallowen-btn" pardot-region="learn_more"><a class="hallowen-learn-more2" href="https://www.diageo-one.com/s/login/?language=es" style="color:#FFFFFF;">Sign Up </a> <!--<a href="https://www.diageo-one.com/s/login/?language=es"><input class="hallowen-learn-more" type="button" value="Ir ahora"></a>--></td>
            </tr>
            <tr>
                <td height="28"></td>
            </tr>
            <tr>
                <td class="footer-rights-reserved-td">
                <div class="footer-rights-reserved" pardot-region="copyright">
                <section><b>© 2021&nbsp;DIAGEO </b> All rights reserved. Diageo plc. Lakeside Drive,</section>
                <section>Park Royal London NW10 7HQ</section>
                </div>
                </td>
            </tr>
            <tr>
                <td class="footer-update-td">
                <div class="footer-update" pardot-region="Unsubscribe">
                <p>This email was sent to vinod@diageo.com <span class="custom-underline">vinod@diageo.com</span></p>
    
                <p><a href="{{Unsubscribe}}">unsubscribe from this list</a> <a href="https://footer.diageohorizon.com/dfs/assets/www.diageo-one.com/PrivacyPolicy_es.html?locale=es-es">privacy and cookies notice</a></p>
                </div>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    </center>